.calculadora{
    display:block;
    margin:0 auto;
    padding:10px;
    background-color:#b92929;
    width:375px;
    height:550px;
    border-radius: 25px;
} 
.calculadora td button{
    display:block;
    width: 80px;
    height: 70px;
    font-size: 40px;
}
#creditos{
    display:block;
    padding-top:30px;
    color:#fff;
    text-align: center;
    width:355px;
}
#resultado{
    display:block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    width:345px;
    height: 110px;
    line-height: 110px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
}